.navbar-header {
  background-color: inherit;
  font-family: var(--font-mono);
}

.navbar-header-border {
  border-bottom: 1px solid rgba(var(--callout-border-color-rgb), 0.2);
}

.navbar-header-brand {
  font-weight: 700;
}

.navbar-header-brand:hover {
  color: var(--main-color);
}

.navbar-header span {
  color: inherit;
  font-size: small;
}

.navbar-header a {
  color: inherit;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

.navbar-header-link a:hover {
  color: var(--secondary-color);
}