.navbar-footer {
    background-color: inherit;
    font-family: var(--font-mono);
    font-size: x-small;
}

.navbar-footer-border {
    border-top: 1px solid rgba(var(--callout-border-color-rgb), 0.2);
}

.navbar-footer span {
    color: inherit;
}