.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem 4rem 4rem;
  min-height: 100vh;
}

/* .description {
  display: inherit;
  justify-content: center;
  align-items: inherit;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(var(--callout-border-color-rgb), 0.2);
}

.description h2 {
  position: relative;
  margin: 0;
  padding: 1rem;
  color: var(--secondary-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  max-width: 100%;
  width: var(--max-width);
} */